.scene-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;

    & .scene-toolbar {
        margin-bottom: 5px;
        display: flex;
        gap: 5px;

        button {
            border-radius: 8px;
            border: 1px solid transparent;
            padding: 0.6em 1.2em;
            font-size: 1em;
            font-weight: 500;
            font-family: inherit;
            background: #1a1a1a;
            cursor: pointer;
            transition: border-color 0.25s;
        }
        button:hover {
            border-color: #646cff;
        }
        button:focus,
        button:focus-visible {
            outline: 4px auto -webkit-focus-ring-color;
        }

    }

    & .scene-canvas-container {
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: start;
        position: relative;
        width: 100%;

        & .scene-cars-toolbar {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 60px;
            min-height: 300px;
            height: 100%;
            padding-top: 15px;
            padding-right: 5px;

        }

        & .scene-canvas {
           /*position: absolute;*/
           /*left: 0;*/
           /*right: 0;*/
       }
    }

    & .scene-tip {
        display: flex;
        width: 100%;
        padding: 5px;
        justify-content: center;
    }
}



