
.scene-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;

    & .scene-toolbar {
        margin-bottom: 5px;
    }

    & .scene-canvas-wrapper {
        overflow: hidden;
        display: flex;
        /*position: relative;*/
        /*width: 100%;*/
       & .scene-canvas {
           /*position: absolute;*/
           /*left: 0;*/
           /*right: 0;*/
           background:lightgray;
       }

    }

}



